header
    {
        display: block;
        text-align: center;
        /* margin-right: auto;
        margin-left: auto; */
        margin: auto;
        padding: .1%;
        font-size: 25px;
        height: auto;
        width: 75%;
        background-color: black;
        color: white;
    }

main h1
    {
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font: weight 700px;
        height: auto;
        width: 75%;
    }

main picture
    {
        margin-bottom: 15px;
    }

main img
    {
        display: block;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 5px 0px 45px 5px;
        height: auto;
        width: 35%;
    }

section
    {
        display: block;
        margin: 25px auto ;
        height: auto;
        width: 31%;
        padding: 2%;
        background-color: lightgray;
    }

section h2  
    {
        padding-bottom: 1%;
        border-bottom: 1px solid black;
    }

section p
    {
        margin:auto;
        padding: 3%;

    }

section ul
    {
        margin-top: 0px;
    }

footer
    {
        display: block;
        text-align: center;
        margin: auto;
        padding: .2%;
        font-size:medium;
        height: auto;
        width: 75%;
        background-color: black;
        color: white;
    }