
nav 
    {
        background-color: steelblue;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }    

nav a
    {
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
    }

h1
    {
        color: steelblue;
        border-bottom: 2px solid steelblue;
    }

main img
    {
        width: 150px;
        height: auto;
        border: 1px solid steelblue;
        padding: 2px;
        box-shadow: 0 0 30px gray;
    }
aside
    {
        width: 20rem;
        margin: 1rem;
        border: 1px solid rgb(0 0 0 / 0.2);
        padding: 1rem;
        background-color: #eee;
        color: #333;
        text-align: center;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }

aside img
    {
        width: 200px;
        height: auto;
    }

p
    {
        padding: 0;
    }

footer
    {
        margin-top: 1em;
        border-top: 1px solid #000;
        text-align: center;
    }

header,footer, .grid
    {
        max-width: 840px;
        margin: 0 auto;

    }

.grid
    {
        display: grid;
        align-items: center;
    }

main
    {
        grid-column: 2/3;
        margin: 1rem;
    }
